@model IEnumerable<Studia.Models.Task>

@functions
{
    public string GetStatus(Studia.Models.Task task)
    {
        return task.Status switch
        {
            "Completed" => "success",
            "Due late" => "danger",
            _ => "warning",
        };
    }
    public bool Get_Check(Studia.Models.Task task)
    {
        if (task.Status == "Pending") return true;
        return false;

    }
}

@{
    ViewData["Title"] = "Tasks";
}

<div >
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 style="font-size:55px;" class="text-decoration-none">Task List</h1>
    </div>

    <div class="mb-3" >
        <a asp-action="Create" class="comic-button-green">Create New Task</a>
        <a class="refresh-button" style="float:right" asp-controller="Tasks" asp-action="UpdateDbAndReturnToIndex">Refresh</a>
    </div>
    
        
    
    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle table-dark">
            
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <label class="checkmark">
                                <input id="checkbox1" bg-@(Get_Check(item) ? "checked" : "") type="checkbox"/>
                            </label>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>
                            <span class="due-late bg-@(GetStatus(item)) align-self-center">
                                @item.Status
                            </span>
                        </td>
                        <td>@item.DueDateTime.ToString("hh:mmtt | d MMM yy")</td>
                        <td>@item.CreatedBy</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="Cool-button">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="Cool-button">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="Cool-button">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
